{% extends 'base.html' %}

{% block content %}

<h1 class="title">{{ category.name }}</h1>

<div class="menu-container">

{% for menu in menus %}

<div class="menu-card">

    <img src="{{ menu.image.url }}" alt="{{ menu.name }}">

    <div class="menu-info">
        <h3>{{ menu.name }}</h3>

        <p>{{ menu.description }}</p>

        <div class="menu-bottom">
            <span class="price">{{ menu.price }} so'm</span>
            <button class="order-btn">Buyurtma</button>
        </div>
    </div>

</div>

{% endfor %}

</div>

{% endblock %}